.custom-toggler {
    color: white !important;
    border: none;
  }
  
  .custom-toggler .navbar-toggler-icon {
    filter: invert(1);
  }
  



  .card-hover {
    transition: 0.3s ease-in-out;
}

.card-hover:hover {
    filter: brightness(0.4); /* Darken effect */
}
